body {
	font-family: "Segoe UI";
	color: #FFF;
}

button {
	font-family: "Segoe UI";
	color: #FFF;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

.about {
	position: fixed;
	z-index: 10;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	transition: all 0.2s ease;
}

.about .bg_links {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 100%;
	backdrop-filter: blur(5px);
	position: absolute;
}

.about .logo {
	width: 40px;
	height: 40px;
	z-index: 9;
	background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 10px 7px;
	opacity: 0.9;
	transition: all 1s 0.2s ease;
	bottom: 0;
	right: 0;
}

.about .social {
	opacity: 0;
	right: 0;
	bottom: 0;
}

.about .social .icon {
	width: 100%;
	height: 100%;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	display: flex;
	transition: all 0.2s ease, background-color 0.4s ease;
	opacity: 0;
	border-radius: 100%;
}

.about .social.portfolio {
	transition: all 0.8s ease;
}

.about .social.portfolio .icon {
	background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
}

.about .social.dribbble {
	transition: all 0.3s ease;
}

.about .social.dribbble .icon {
	background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
}

.about .social.linkedin {
	transition: all 0.8s ease;
}

.about .social.linkedin .icon {
	background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
}

.about:hover {
	width: 105px;
	height: 105px;
	transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .logo {
	opacity: 1;
	transition: all 0.6s ease;
}

.about:hover .social {
	opacity: 1;
}

.about:hover .social .icon {
	opacity: 0.9;
}

.about:hover .social:hover {
	background-size: 28px;
}

.about:hover .social:hover .icon {
	background-size: 65%;
	opacity: 1;
}

.about:hover .social.portfolio {
	right: 0;
	bottom: calc(100% - 40px);
	transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.portfolio .icon:hover {
	background-color: #698fb7;
}

.about:hover .social.dribbble {
	bottom: 45%;
	right: 45%;
	transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.dribbble .icon:hover {
	background-color: #ea4c89;
}

.about:hover .social.linkedin {
	bottom: 0;
	right: calc(100% - 40px);
	transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.linkedin .icon:hover {
	background-color: #0077b5;
}

.wrapper {
	width: 100vw;
	margin: 0 auto;
	height: 400px;
	background-color: #161616;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
	.wrapper {
		height: 700px;
	}
}

.content {
	max-width: 1024px;
	width: 100%;

	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content2 {
	max-width: 1024px;
	width: 425px;

	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 767px) {
	.content {
		padding-top: 300px;
		flex-direction: column;
	}
}

.card {
	width: 100%;
	max-width: 300px;
	min-width: 200px;
	height: 250px;
	background-color: #292929;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
	border: 2px solid rgba(7, 7, 7, 0.12);
	font-size: 16px;
	transition: all 0.3s ease;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	transition: all 0.3s ease;
}

.icon {
	margin: 0 auto;
	width: 100%;
	height: 80px;
	max-width: 80px;
	background: rgba(0, 0, 0, 0.28);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	transition: all 0.8s ease;
	background-position: 0px;
	background-size: 200px;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

.card .title {
	width: 100%;
	margin: 0;
	text-align: center;
	margin-top: 30px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.card .text {
	width: 80%;
	margin: 0 auto;
	font-size: 13px;
	text-align: center;
	margin-top: 20px;
	color: white;
	font-weight: 200;
	letter-spacing: 2px;
	opacity: 0;
	max-height: 0;
	transition: all 0.3s ease;
}

.card:hover {
	height: 270px;
}

.card:hover .info {
	height: 90%;
}

.card:hover .text {
	transition: all 0.3s ease;
	opacity: 1;
	max-height: 40px;
}

.card:hover .icon {
	background-position: -120px;
	transition: all 0.3s ease;
}

.card:hover .icon i {
	background: linear-gradient(90deg, #FF7E7E, #FF4848);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 1;
	transition: all 0.3s ease;
}

button {
	background: 0 0;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	height: 35px;
	line-height: 0px;
	padding: 0 50px 0 50px;
	position: relative;
	transition: all .3s;
	border: 2px solid #c14958;
	font-size: 1em;
	letter-spacing: 2px;
	text-transform: uppercase;
	z-index: 0;
	margin: 60px auto 0 auto;
	color: #c14958;
	font-family: "Segoe UI";
	overflow: hidden;

}

button:hover {
	color: #FFF;
}

button::before {
	content: "";
	height: 100%;
	width: 100%;
	background: #c14958;
	position: absolute;
	top: 0;
	right: 0;
	transition: all .3s;
	z-index: -1;
}

button.fade::before {
	opacity: 0;
}

button.fade:hover::before {
	opacity: 1;
}

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;

	font-size: 1.2em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 4;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: .5em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	/* Same as .prism’s padding-top */

	background: hsla(24, 20%, 50%, .08);
	background: linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));

	pointer-events: none;

	line-height: inherit;
	white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: hsla(24, 20%, 50%, .4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
	content: none;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers>code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em;
	/* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows>span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows>span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}

span.inline-color {
	display: inline-block;
	height: 1.333ch;
	width: 1.333ch;
	margin: 0 .333ch;
	box-sizing: border-box;
	border: 1px solid white;
	outline: 1px solid black;
}

div.code-toolbar {
	position: relative;
}

div.code-toolbar>.toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover>.toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don"t support :focus-within. */
div.code-toolbar:focus-within>.toolbar {
	opacity: 1;
}

div.code-toolbar>.toolbar .toolbar-item {
	display: inline-block;
}

div.code-toolbar>.toolbar a {
	cursor: pointer;
}

div.code-toolbar>.toolbar button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none;
	/* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar>.toolbar a,
div.code-toolbar>.toolbar button,
div.code-toolbar>.toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
	border-radius: .5em;
}

div.code-toolbar>.toolbar a:hover,
div.code-toolbar>.toolbar a:focus,
div.code-toolbar>.toolbar button:hover,
div.code-toolbar>.toolbar button:focus,
div.code-toolbar>.toolbar span:hover,
div.code-toolbar>.toolbar span:focus {
	color: inherit;
	text-decoration: none;
}

.token.punctuation.brace-hover,
.token.punctuation.brace-selected {
	outline: solid 1px;
}

.rainbow-braces .token.punctuation.brace-level-1,
.rainbow-braces .token.punctuation.brace-level-5,
.rainbow-braces .token.punctuation.brace-level-9 {
	color: #E50;
	opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-2,
.rainbow-braces .token.punctuation.brace-level-6,
.rainbow-braces .token.punctuation.brace-level-10 {
	color: #0B3;
	opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-3,
.rainbow-braces .token.punctuation.brace-level-7,
.rainbow-braces .token.punctuation.brace-level-11 {
	color: #26F;
	opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-4,
.rainbow-braces .token.punctuation.brace-level-8,
.rainbow-braces .token.punctuation.brace-level-12 {
	color: #E0E;
	opacity: 1;
}
